:root {
    --first-color: #FFFFFF;
    --second-color: #74C69D;
    --third-color: #2E3A2D;
    --fourth-color: #3A3A38;
}

body {
    background: #A4C2A5;
    margin: 0;
}

body h1 {
    display: block;
    text-align: center;
}


header {
    background-color: var(--third-color);

}

header span {
    font-family: 'Orbitron', sans-serif, system-ui;
    ;
    color: var(--first-color);
    display: block;
    text-align: center;
    padding: 10px;
    ;
}

header nav ul {
    display: flex;
    justify-content: space-between;
    background-color: var(--fourth-color);
    padding: 15px;

}

header nav ul li {
    list-style-type: none;
    font-family: 'Roboto', sans-serif, system-ui;

    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: var(--first-color);
    font-weight: bold;
}

nav a:hover {
    color: var(--second-color);
    text-decoration: underline;
    background-color: var(--third-color);
}

footer {
    background-color: var(--third-color);
    font-family: 'Orbitron', sans-serif, system-ui;
    ;
    color: var(--first-color);
    display: block;
    text-align: center;
    padding: 10px;
}

.card-container {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.card {
    border: 2px solid var(--second-color);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    background-color: var(--fourth-color);
    color: var(--first-color);
    font-family: 'Roboto', sans-serif, system-ui;
}

.card h2 {
    text-align: center;
    background-color: var(--third-color);
    margin: -15px -15px 15px -15px;
}

.introduce {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    justify-items: center;
    gap: 15px;
}

.Brazzaville {
    display: flex;
    justify-content: space-between;
}

.location h3 {
    grid-column: span 2;
    text-align: center;
    border-top: #A4C2A5 10px dotted;
}

.flag {
    margin: 10px;
    width: 100px;
    height: auto;
    display: block;
}


main {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
    box-sizing: border-box;
}


.card a {
    text-decoration: none;
    color: var(--first-color);
    font-weight: bold;
    text-decoration: underline;
}

.card a:hover {
    color: var(--second-color);
    background-color: var(--third-color);
}