:root {
    --first-color: #3A3335;
    --second-color: #D81E5B;
    --third-color: #F0544F;
    --fourth-color: #FDF0D5;
    --fifth-color: #C6D8D3;
}

* {
    box-sizing: border-box;
}

header {
    background-color: var(--second-color);
    color: var(--fourth-color);
    padding: 1rem;
    text-align: center;
    font-size: large;
}

footer {
    background-color: var(--second-color);
    font-family: 'Orbitron', sans-serif, system-ui;
    color: var(--fourth-color);
    display: block;
    text-align: center;
    padding: 10px;
}

body {
    font-family: 'Roboto', sans-serif, system-ui;
    background-color: var(--fourth-color);
}

.container {
    background-color: var(--fifth-color);
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px auto;
    max-width: 600px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-weight: bold;
    display: block;
}

fieldset {
    border: 1px solid var(--second-color);
    border-radius: 5px;
    padding: 10px;
    margin: 15px;
}

textarea {
    min-height: 100px;
    padding: 1rem;
    width: 100%;
    border: 1px solid var(--second-color);
    border-radius: 5px;
    display: block;
}

input[type="submit"] {
    background-color: var(--second-color);
    color: var(--fourth-color);
    border: none;
    padding: 10px;
    width: 100%;
    align-self: stretch;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: var(--third-color);
}

input[type="text"] {
    display: block;
    width: 100%;
    margin-top: 5px;
    padding: 8px;
    border: 1px solid var(--second-color);
    border-radius: 5px;
}

@media screen and (min-width: 900px) {
    .container {
        max-width: 900px;
        padding: 2rem;
    }

    form {
        gap: 1.25rem;
    }

    fieldset {
        margin: 20px 0;
    }

    input[type="submit"] {
        width: 25%;
    }
}